.container {
    margin-top: 20;
}

.row{
    display: flex;
    gap: 10px;
    mat-form-field{
        width: 100%;
    }
}
.action{
    display: flex;
    gap: 10px;
    padding: 0px 25px 20px;
    button{
        flex: 1;
    }
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }