
<div>
<div>
    <mat-toolbar color="primary" class=".example-spacer">
        <span>Student Managment system</span>
    </mat-toolbar>
  </div>
  <div class="main-body">
      <div class="filter">
        <mat-form-field appearance="outline">
          <mat-label>Table Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" (click)="openDialogForstudent()">Enter Student Record</button>
        </div>
    </div>

    <div class="filter">
      <mat-form-field appearance="outline">
        <mat-label>section</mat-label>
        <mat-select [(ngModel)]="selectSections" (selectionChange)="onSelectSection()">
          <mat-option *ngFor="let option of section" [value]="option"> {{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Year</mat-label>
        <mat-select [(ngModel)]="selectedYear">
        <mat-option *ngFor="let option of year" [value]="option"> {{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>class</mat-label>
        <mat-select [(ngModel)]="selectedClass">
          <mat-option *ngFor="let option of classOption" [value]="option"> {{option}}</mat-option>
        </mat-select>
      </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="submitValueToTable()">Submit</button>
        </div>
        <div>
          <button mat-raised-button color="warn" (click)="restTable()">Reset</button>
        </div>
    </div>

      <div class="data-container">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}}</td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
            <td mat-cell *matCellDef="let row"> {{row.age}} </td>
          </ng-container>
      
          <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth </th>
            <td mat-cell *matCellDef="let row"> {{row.dob | date}} </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> gender </th>
            <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> section </th>
            <td mat-cell *matCellDef="let row"> {{row.section}} </td>
          </ng-container>

          <ng-container matColumnDef="class">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> class </th>
            <td mat-cell *matCellDef="let row"> {{row.class}} </td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> year </th>
            <td mat-cell *matCellDef="let row"> {{row.year}} </td>
          </ng-container>

          <ng-container matColumnDef="english">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> english </th>
            <td mat-cell *matCellDef="let row"> {{row.english}} </td>
          </ng-container>

          <ng-container matColumnDef="maths">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> maths </th>
            <td mat-cell *matCellDef="let row"> {{row.maths}} </td>
          </ng-container>

          <ng-container matColumnDef="physic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> physic </th>
            <td mat-cell *matCellDef="let row"> {{row.physic}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
             <button mat-icon-button color="primary" (click)="onEditAction(row)">
                <mat-icon>edit</mat-icon>
             </button>
             <button mat-icon-button color="warn" (click)="deleteByIdToStudent(row.id)">
                <mat-icon>delete</mat-icon>
             </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
  </div>
</div>
